/*
@media all and (max-width:768px) {

    #hello section.left-col div.top-container {
    
        margin: 0 60px;

    }  
   
    .to-right {
        text-align: right;
    }
    
    .col-two {
        margin-top: 30px;
    }
    
    .to-left {
        text-align: left;
    }
    
   

}*/
