    @media (min-width:992px) and (max-width:1169px) {
    #header {
        background-image: url(../img/man-2.jpg);
        background-size: cover;
        background-attachment: local;
        background-position: center;
        height: 70vh;
    }
    #header h1 {
        top: 15%;
        left: 60%;
        font-size: 2rem;
    }
    #header h2 {
        top: 7%;
        left: 60%;
    }
}

@media (max-width:991px) {
    body {
        background-color: white;
        color: black;
    }
    #header {
        height: 50vh;
    }
    #header h1 {
        top: 110%;
        text-align: center;
        font-size: 1.8rem;
        left: 10%;
        right: 10%;
    }
    #header h2 {
        top: 100%;
        font-size: 1.2rem;
        left: 25%;
        right: 25%;
        text-align: center;
    }
    
    
}