body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Radley', serif;
    margin: 0;
    line-height: 1;
    font-weight: normal;
}

h1.mobile-hello {
    display: none;
}

h2 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}

h2#big-title {
    font-size: 100px;
    color: #000000;
    position: relative;
}

h2#big-title::before {
    content: url("../img/line.svg");
    position: absolute;
    width: 900px;
    z-index: -1;
    left: 100px;
    bottom: -50px;
}

h3 {
    font-size: 24px;
    color: #FF4907;
}

h4 {
    color: white;
    background: #F2A03C;
    font-size: 32px;
    display: inline-block;
    margin: 0;
    padding: 4px;
}

#cool-projects h4 {
    position: absolute;
    z-index: 1;
    top: -25px;
    font-size: 20px;
}

a {
    color: #F04D23;
    transition: all 0.7s ease-in-out;
}

a.effect:hover {
    background: #E75D24;
    color: #fff;
}

a,
a:hover {
    text-decoration: none;
}

a.underline:hover {
    text-decoration: underline;
}

p {
    text-transform: none;
    font-weight: 200;
    line-height: 160%;
}

.typewriter h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

section.social-media {
    height: 40px;
    width: 40px;
    position: fixed;
    left: 0;
    top: 30vh;
}

section.social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*NAVIGATION*/

nav {
    position: fixed;
    z-index: 1;
    top: 0;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.mobile {
    width: 100%;
    background: #fff;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    padding: 100px 0;
    z-index: 200;
}

div.mobile-picture {
    display: none;
}

button#mobile-menu-launch {
    border: 0;
    border: solid;
    border-color: #F04D23;
    background: none;
    font-size: 20px;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 150;
}

button#mobile-menu-launch {
    display: none;
}

nav.mobile ul li {
    display: block;
    margin: 20px 0;
    text-align: center;
}

#mobile-menu-launch {
    float: right;
    position: relative;
}

nav.mobile {
    display: none;
}

.close-icon {
    height: 40px;
    right: 20px;
    margin: 20px;
    position: absolute;
    top: 20px;
    padding: 10px;
    cursor: pointer;
}

ul.list {
    list-style-type: none;
}

nav li {
    font-size: 15px;
    margin: 25px 12.5px 25px 12.5px;
    color: #000;
    display: inline-block;
    padding: 10px;
}

nav li a {
    color: #000000;
}

/*HEADER*/

header h1 {
    font-size: 100px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

header p {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 10px;
}


header {
    height: 80vh;
    background-image: url(../img/denise-bossarte-263147-unsplash.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

/*IMG*/
img {
    max-width: 100%;
}


.author {
    position: relative;
    margin-top: 100px;
}

.author::before {
    content: url(/img/cross.svg);
    position: absolute;
    width: 190px;
    top: -50px;
    z-index: -1;
    left: -60px;
    animation-name: moveCross;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes moveCross {
    50% {
        transform: scale(1.15);
    }
}

.intro ul li {
    font-size: 15px;
}


.contact {
    text-align: center;
}

.contact p {
    font-size: 18px;
}

ul {
    padding: 0;
}

ul.list li {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

footer {
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inline {
    color: #FFF;
    background-color: #F04D23;
    margin-right: 2px;
    padding: 2px;
    display: inline-block;
}

#contact {
    /*    padding-top: 100px;*/
    padding-bottom: 100px;
}

#contact p {
    padding-top: 50px;
}


/*Section cool projects*/

.extra-breathing {
    margin-bottom: 8vh;
}


#cool-projects img {
    max-width: auto;
}

#projects img {
    max-height: auto;
}

.experiment {
    margin-bottom: 10px;
}

#contact img {
    max-height: 100%;
    max-width: auto;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*    align-items: center;*/
}

#coding-graphic i.fa-link {
    font-size: 16px;
}