body {
    background-color: #19820B;
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin: 0px;
}

nav>ul>li {
    display: inline-block;
    list-style: none;
/*    font-weight: 300;*/
    }

#main-nav {
    position: fixed;
    width: 100%;
    text-align:right;
    background-color: white;
    color: #1ac056;
    top:0;
    left:0;
    }

nav#main-nav:hover {
    color: purple;
}

a {
    text-decoration: none;
    
}

#main-header {
    background-image: url(../img/img/header-background.jpg);
    background-size: cover;
    background-attachment:local;
    background-position: center;
    text-align:center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size: 60px;
}

#main-header .main-header-content {
    padding:30vh;
    
}

span {
    color: #1ac056;
    font-size: 60px;
}

#about {
    text-align:center;
    padding: 0 80px 100px;
    width:100%;
    background-color: #f9fcfe;
    
}
section>figure>img {
    max-height: 350px;
    text-align:center;
    max-width:100%;
    border: 15px solid white;
    border-radius: 10px;
}

section>figure {
    width:50%;
    margin:0;
    float:left;
}
section>article {
    width:50%;
    float:left;
    
}

section>h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top:60px;
    margin-bottom:35px;
    
}

figure {
    position:inline-block;
    text-align: center;
    
}

h2>p {
    text-align:center;
    
}