body {
    background-color: #19820B;
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
}

nav>ul>li {
    display: inline-block;
    list-style: none;
    font-weight: 300;
    }

nav#main-nav {
    position: fixed;
    width: 100%;
    text-align:right;
/*    left:70%;*/
    background-color: white;
    color: 1ac056;
    
    
    
    
}

nav#main-nav:hover {
    color: purple;
}

a {
    text-decoration: none;
    
}

#main-header {
    background-image: url(../img/img/header-background.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    
}

.main-header-content {
    padding:30%vh;
}