* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin:0 auto;
/*    box-sizing:border-box;*/
    
}
/*Menu*/
#main-nav {
    position:fixed;
    text-align:right;
    width:100%;
    background-color:rgba(42,61,79,0.8);
    z-index: 2;
/*    margin:0;*/

    }
#main-nav label.toggle, input[type="checkbox"] {
    display:none;
}

#main-nav li {
    display:inline-block;
    list-style: none;
    padding:15px;
}

#main-nav li a {
    text-decoration:none;
    color:#1ac056;
    font-weight:300;
}

#main-nav li a:hover {
    color:pink;
}
/*HEADER*/
#main-header {
    background-image:url(../img/img/header-background.jpg);
    background-size:cover;
    background-position:center;
    
}

#main-header .main-header-content h1 {
    font-family: 'Roboto', sans-serif;
    text-align:center;
    color:#fff;
    font-weight:100;
    font-size:12vh;
    
}

#main-header .main-header-content h2 {
    font-family: 'Roboto', sans-serif;
    color:#fff;
    text-align:center;
    font-weight:100;
    font-size: 4vh;

    
}

.main-header-content {
    padding:30vh;
    margin:0;
}

#main-header .main-header-content h1 span {
    color:#1ac056;
    font-weight:600;
    font-family: 'Roboto', sans-serif;
}
/*O MNIE*/

#about {
/*    padding: 0 80px 100px;*/
    width:100%;
    background-color:#f9fcfe;
    padding-top:5vh;
    padding-bottom:50vh;
    border-bottom: 4px solid #959191;
    
}
#about  h2 {
    text-align:center;
    font-size:30px;
    color:black;
    font-weight:300;
    margin-top:60px;
    margin-bottom:35px;
    
}

#about h2 span{
    color:#1ac056;
    font-weight:600;
    font-family: 'Roboto', sans-serif;
}


#about figure img{
    max-height:350px;
    max-width:100%;
    border: 15px solid white;
    border-radius:50%;
}

#about figure {
    width:40%;
    margin:0;
    float:left;
    text-align:center;
}

#about #about-content {
    width:60%;
    float:left;
  
   
}

#about #about-content p {
      padding:30px;
    
}

/*SKILLS*/

#skills {
    padding-top:5vh;
    padding-bottom:10vh;
}

#skills #skills-icons {
    width:100%;
    text-align:center;
    
}

#skills #skills-icons figure {
    display:inline-block;
    
    
}

#skills #skills-icons figure figcaption {
    text-align:center;
}

#skills  h2 {
    text-align:center;
    font-size:30px;
    color:black;
    font-weight:300;
    margin-top:60px;
    margin-bottom:35px;
    
}

#skills h2 span{
    color:#1ac056;
    font-weight:600;
    font-family: 'Roboto', sans-serif;
}

#skills p {
    text-align:center;
}

/*PORTFOLIO*/
#portfolio {
    padding-top:5vh;
    padding-bottom:10vh;
}

#portfolio h2 {
    text-align:center;
    font-size:30px;
    color:black;
    font-weight:300;
    margin-top:60px;
    margin-bottom:35px;
    
}

#portfolio h2 span{
    color:#1ac056;
    font-weight:600;
    font-family: 'Roboto', sans-serif;
}

#portfolio .portfolio-items #portfolio-item-1 {
    background-image: url(../img/img/portfolio1.jpg);
}

#portfolio .portfolio-items #portfolio-item-2 {
    background-image: url(../img/img/portfolio2.jpg);
}

#portfolio .portfolio-items #portfolio-item-3 {
    background-image: url(../img/img/portfolio3.jpg);
}

.single-portfolio-item {
    height:350px;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    display:inline-block;
    width:33.3333%;
    position:relative;
}

.portfolio-items {
    text-align: center;
    font-size:0;
}

.single-portfolio-item-mask {
    background-color: rgba(42,61,79,0.8);
    height:100%;
    width:100%;
    opacity: 0;
    position:absolute;
    font-size:initial;
}
.single-portfolio-item-mask:hover {
    opacity:1;
    transition: all 0.3s ease-in-out;
}

.single-portfolio-item-mask-content {
    border: 1px solid #fff;
    margin:10px;
    height:330px;
    position:relative;
    color:#fff;
}

.single-portfolio-item-mask-content .single-portfolio-item-mask-content-inner {
    position:absolute;
    top:50%;
    transform:translateY(-50%)
    left:0;
    right:0;
    padding:5px;
    
}
.fa-link{
    color:#1ac056;
}

.fa-link:hover {
    color:pink;
}

/*CONTACT*/

#contact {
    background-color: #213b50;
    color:white;
    overflow:hidden;
    padding:5vh;
    
}

#contact  h2 {
    text-align:left;
    font-size:38px;
    color:white;
    font-weight:300;
    margin-top:0;
    margin-bottom:35px;
    
    
}

#contact h2 span{
    color:#1ac056;
    font-weight:600;
    font-family: 'Roboto', sans-serif;
}

#contact .contact-data adress {
    font-style:normal;
    line-height:25px;
    margin:72px 0;

}

#contact .contact-data adress a {
    color:#1ac056;
}
#contact .contact-data {
    width:50%;
    float:left;
}
#contact .contact-form {
    width:50%;
   float:left;
/*    text-align: center;*/
    margin-top: 100px;
    
}
#contact .contact-data .contact-social-icons a {
    display:inline-block;
    height:38px;
    width:38px;
    margin-right: 30px;
    line-height: 38px;
    text-align: center;
    border:1px solid #fff;
    font-size: 22px;
    color:#fff;
    margin-top:3vh;
    
}

#contact .contact-data .contact-social-icons a:hover {
    border: 1px solid #213b50;
    background-color: #fff;
    color:#213b50;
}

input[type="text"], input[type="email"], textarea {
    width:90%;
    padding:15px;
    margin-bottom: 15px;
    border: 0 solid #2b4a64;
    background-color: #2b4a64;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    background-color: #426684;
}

input[type="submit"] {
    width:auto;
    padding:15px 30px;
    float:right;
    text-transform: uppercase;
    border: 1px solid #1ac056;
    background-color: #1ac056;
    color:#fff;
    font-weight: 600;
    margin-right:5vh;
}

input[type="submit"]:hover {
    background-color: #fff;
    color:#1ac056;
}

/*FOOTER*/

#footer{
    background-color: #142634;
    padding:0 80px;
   
    }

#footer p {
    color:#fff;
    margin:0;
    font-size:12px;
}