body {
    background-color: white;
  font-family: "Roboto Slab", sans-serif;
}



/*MENU*/


.navbar-custom {

    background-color:#222222; 
   border-bottom-color: transparent;
}

#logo {
    color: #fff;
    font-family: "Droid Serif;", serif;
    font-style: italic;
    font-weight:400;
    font-size: 20px;
    
}
#logo:hover,
#logo:focus,
#logo:active {
  color: #0ed8d6;
}






button[type="button"] {
  background-color: #0ed8d6;

  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

button[type="button"]:hover,
button[type="button"]:focus {
  color: #0ed8d6;
background-color: #fff;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color:  #fff;

}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color:  #0ed8d6;
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        padding:25px 0;
        transition: padding 0.3s;
        border: none;
    }

}
@media (min-width:768px) {
    .navbar-custom.affix {
        background-color: #222222;
        padding:10px 0;
    }
}
/*HEADER*/

header {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url('../img/header/pictures_on_the_wall.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  color: white;
}
header .main-text {
  padding-top: 300px;
  padding-bottom: 200px;
}
header .main-text .heading-smaller {
  font-family: "Droid Serif", sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .main-text .heading-bigger {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .main-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .main-text .heading-smaller {
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .main-text .heading-bigger {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}




.pozostaly-tekst {
  color: #777777;
}



p {
  font-size: 14px;

}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #0ed8d6;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #0ed8d6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}


.btn-primary {
  color: white;
  background-color: #0ed8d6;
  border-color: #0ed8d6;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #0ed8d6;
  border-color: #0ed8d6;
}


/*
.btn-primary .badge {
  color: #0ed8d6;
  background-color: white;
}
*/
.btn-xl {
  color: white;
  background-color: #0ed8d6;
  border-color: #0ed8d6;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #0ed8d6;
  border-color: #0ed8d6;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}

/*
.btn-xl .badge {

  color: #0ed8d6;
  background-color: white;
}
*/

/*SECTION*/

section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", sans-serif;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 75px;
text-transform:inherit;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#circle {
   color: #0ed8d6;
}



/*PORTFOLIO*/


.bg-jasny-szary {
  background-color: #f7f7f7;
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
height:300px;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
margin: 0 auto;
}

.portfolio-item img {
    height:200px;
    width: 400px;
   
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background-color: #0ed8d6;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
 
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 0.5;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio  {
  z-index: 2;
}


/*TEAM*/

.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}


/*CONTACT US*/


#drugie-tlo {
    height:100%;
    width:100%;
/*
    background-color: black;
    opacity:0.5;
*/
}
#subheading-text {
    color:#fff;
}
section#contact {

background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/footer/world-map.jpg');
  background-position: center;
  background-repeat: no-repeat;
  

}


section#contact .section-heading {
  color: white;
    
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
    
}
section#contact .form-group input.form-control {
  height: auto;

}
section#contact .form-group textarea.form-control {
  height: 236px;

}
section#contact .form-control:focus {
  border-color: #0ed8d6;

}
section#contact input[placeholder], textarea[placeholder] {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color:#eeeeee;

}



/*FOOTER*/

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}
footer ul.linki-footer {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
 
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #0ed8d6;
}

